
.chatWindowHeader {
    height: 8vh;
    width: 97%; 
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 1.5%;
    margin-bottom: 7px;
    background-color: #BAABDA;
    font-family: 'Montserrat', sans-serif;
}

.backArrow {
    margin-left: 10px;
    size: 24px;
}

.friendName {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.audioIcon, .videoIcon {
    float: right;
    margin: 10px;
    background: transparent;    
}


#chatList {
    flex: 1;
    height: 74vh;
    margin-right: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

#chatList::-webkit-scrollbar-track
{
	background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#chatList::-webkit-scrollbar
{
	width: 10px;
}

#chatList::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}

.msgDiv {
    display: flex;
    background-color: #265e80;
    color: white;
    min-width: 80px;
    max-width: 60%;
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
} 

.msgDivImage {
    display: flex;
    color: white;
    min-width: 80px;
    max-width: 60%;
    margin: 5px;
    border-radius: 6px;
} 

.sender  {
    align-self: flex-end;
    padding-right: 10px;
    margin-right: 15px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    color: #707c97;
    border: 1px solid #707c9740;
}

.receiver {
    align-self: flex-start;
    padding-left: 10px;
    margin-left: 15px;
    border-radius: 5px 5px 5px 5px;
    background: #60a9f6;
    background-color: #60a9f6;
    color: #ffffff;
}

div.img {
    width: 45px; 
    height: 45px;
}

div.file {
    width: 50%;
}

.text {
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.time {
    width: 50px;
    position: relative;
}

.timeContent {
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    right: 0px;
    opacity: 0.8;
}
.timeImage {
    width: 50px;
    position: relative;
}

.timeContentImage {
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    opacity: 0.8;
}

.downloadBtnImage {
    margin: 5px;
    cursor: pointer;
    position: absolute;
}

.deleteArrowImage {
    margin-left: 7px;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
}

.downloadBtn {
    margin: 5px;
    cursor: pointer;
}

.deleteArrow {
    margin-left: 7px;
    cursor: pointer;
    font-size: 10px;
}

.deleteChatModel {
    max-width: 30%;
    top: 100px;
    left: 50%;
}

.deleteChatBtn{
    background-color: #ad2828;
    color: white;
}

.deleteChatBtn:hover {
    background-color: #7c0606;
}


.chatWindowFooter {
    margin-left: 2px;
    width: 100%;
    position: absolute;
    bottom: 13px;
    border-top: 2px solid #2e2c2c;
}

.file {
    margin-left: 5%;
    margin-right: 10px;
}

.sendButton {
    margin: 10px;
    cursor: pointer;
}

.File{
    cursor: pointer;
}

.inputForm {
    display: inline-block;
    width: 90%;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:2px solid #136bcf;
    outline:none;
    transition:.3s;
    background: transparent;
    color: #000;
}

input::placeholder { 
    color: #000;
}

input:focus {
    border-color:#6e99e6;
    box-shadow:0 0 8px 0 #6e99e6;
}

.inputMessage {
    margin-top: 3px;
    width: 80%;
    height: 30px;
}