

.friendListDiv {
    width: 100%;
    margin-left: 0;
    padding: 0px;
    margin-left: 4px;
    height: 90vh;
    overflow-y: scroll;
    border-right:2px solid #0000004f;
}

/* .friendListDiv::-webkit-scrollbar-track
{
	background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
} */

.friendListDiv::-webkit-scrollbar
{
	width: 10px;
}

.friendListDiv::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}

.friendListHeader {
    margin-left: 15px;
}

#searchFriend {
    display: inline-block;
    width: 80%;
}

.input {
    width: 80%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:2px solid #136bcf;
    margin:15px 0;
    outline:none;
    padding:8px;
    transition:.3s;
    background: transparent;
    color: #000;
}

.input::placeholder { 
    color: #000;
}

.input:focus {
    border-color:#6e99e6;
    box-shadow:0 0 8px 0 #6e99e6;
}

.input,.searchIcon,.friendRequest {
    display: inline-block;
}

.friendBox {
    display: inline-block;
    align-items: center;
    height: 40px;
    border: 1.5px solid black;
    outline: none;
    color: black;
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 2px;
    width: 90%;
    position: relative;
    border-radius: 4px;
}

.friendBox:hover {
    background-color: #6e99ef;
    color: #fff;
}

.friendSelected {
    background-color: #6e99ef;
    color: #fff;
}

.friendList {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

.uname{
    margin-left:1%;
    font-weight: 900;
    position: absolute;
    left: 12px;
}
.remove{
    position: absolute;
    right: 12px;
}