
.friendListDiv {
    width: 100%;
    margin-left: 0;
    padding: 3px;
    margin-left: 4px;
    height: 90vh;
}

.friendList {
    overflow-y: scroll;
}

.input {
    width: 80%;
    
}

.input,.searchIcon,.friendRequest {
    display: inline-block;
    margin: 3px;
}

.friendBox {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1.5px solid black;
    outline: none;
    color: black;
    margin-top: 3px;
    border-radius: 2px;
    width: 95%;
}

.uname{
    margin-left:1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.remove{
    position:absolute;
    margin-left:80% ;
}